<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Document</title>
  </head>

  <body>
    <%- include ("partials/nav") %>
    <h1 align="center"><%= title %></h1>
    <br />
    <br />

    <h2 align="right">Welcome to join us!</h2>
    <br />
    <br />
    <h2 align="right">
      Register today,<br />
      find a perfect temporary home for your pet(s). <br />Enjoy your journey,
      with no worry!
    </h2>
    <!-- image and text section-->
  </body>
</html>
