<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Document</title>
  </head>
  <body>
    <%- include ("partials/nav") %>
    <h1 align="center"><%= title %></h1>
    <br />
    <br />
    <br />
    <br />
    <br />

    <p align="right"><%= JSON.stringify(data) %></p>
    <!-- image and text section-->

    <br />
    <br />
    <h2 align="right">Find a cozy temporary home for your pet!</h2>
  </body>
</html>
